---
title: Posts
layout: default
---

<div class="contain">
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

	{% for post in collections.posts %}
		{% assign currentyear = post.date | date: "%Y" %}
		{% if forloop.first %}
			{% assign lastyear = currentyear %}
			<div>
				<ul class="post-list">
		{% endif %}
		{% if currentyear != lastyear %}
				</ul>
			</div>
			<div class="year-group">
				<h2 class="posts-subheading" id="{{currentyear}}-ref">{{ currentyear }}</h2>
				<ul class="post-list">
			{% assign lastyear = currentyear %}
		{% endif %}
			<li>
				<h3 class="post-title">
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.data.title }}</a>
				</h3>
				<p class="post-meta">{{ post.date | date: "%B %e, %Y" }}</p>
			</li>
		{% if forloop.last %}
			</ul>
			</div>
		{% endif %}
	{% endfor %}
</div>